<h1>Articles List</h1>

<table>
    <thead>
        <th>
        <tr>Title</tr>
        <tr>Description</tr>
        <tr colspan="3">Actions</tr>
    </th>
    </thead>
    <body>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.description %></td>
                <td><%= link_to "Show", article_path(article) %></td>
                <td><%= link_to "Edit", edit_article_path(article) %></td>
                <td><%= link_to "Destroy", article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
            </tr>
        <% end %>
    </body>
</table>

<p>
    <%= link_to "Create New Article", new_article_path %>
</p>


